gradio==6.8.0
numpy==1.26.4
pandas==2.2.3
plotly==5.24.1
scikit-learn==1.6.1
torch==2.6.0
torchvision==0.21.0
transformers==4.48.3
control==0.10.1
pandapower==2.14.1
networkx==3.4.2
gymnasium==1.0.0
stable-baselines3==2.5.0
filterpy==1.4.5
PyWavelets==1.7.0
opencv-python==4.10.0.84
scipy==1.15.2
matplotlib==3.10.0
pillow==11.1.0
requests==2.32.3
